body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1F3B51;
    color: white;
    padding: 10px 20px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-start;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.tab {
    padding: 10px;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid transparent; /* Default border */
}

li.tab:hover {
    background-color: #274965; /* Hover effect */
    border-bottom: 3px solid #ddd
}

li.tab.active {
    border-bottom: 2px solid white; /* Active tab border */
}

a{
    color: white;
    text-decoration: none;
}

.content {
    display: none; /* Hide content sections by default */
    padding: 20px;
    border-top: 1px solid #ddd;
}

.content#people {
    display: block; /* Show 'About' tab by default */
}

h2{
    margin-left: 10%;
}

footer {
    background-color: #1F3B51;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Removes extra space caused by inline display */
    margin-left: auto;  /* Centers the image */
}