/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background: #3d52a0;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top */
}

nav {
    display: flex;
    justify-content: flex-start;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.tab {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid transparent; /* Default border */
}

li.tab:hover {
    background-color: #283976; /* Hover effect */
    border-bottom: 3px solid #ddd;
}

li.tab.active {
    border-bottom: 3px solid white; /* Active tab border */
}

a {
    color: white;
    text-decoration: none;
}

h4 {
    font-weight: normal;
    font-style: italic;
    color: black;
}

footer {
    background: #3d52a0;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
}

p {
    display: block; 
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Removes extra space caused by inline display */
}

main {
    flex: 1; /* Allow main to take up remaining space */
    padding-bottom: 60px; /* Ensure content is not hidden under the footer */
    margin-left: 10%;
    margin-right: 10%;
    padding: 2em;
    padding-bottom: 100px;
}
