@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1F3B51;
    color: white;
    padding: 10px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(99deg, rgb(80, 113, 223) 0%, rebeccapurple 40%, rgb(244, 105, 179) 90%);

}

nav {
    display: flex;
    justify-content: flex-start;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.tab {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid transparent; /* Default border */
}

li.tab:hover {
    background-color: #274965; /* Hover effect */
    border-bottom: 3px solid #ddd;
}

li.tab.active {
    border-bottom: 3px solid white; /* Active tab border */
}

a{
    color: white;
    text-decoration: none;
}

.content {
    display: none; /* Hide content sections by default */
    padding: 20px;
    border-top: 1px solid #ddd;
}

.content#people {
    display: block; /* Show 'About' tab by default */
}

h1{
    margin-left: 10%;
}

h2{
    margin-left: 10%;
}

h4{
    font-weight: normal;
    font-style: italic;
    color: black;
}

footer {
    background: linear-gradient(99deg, rgb(80, 113, 223) 0%, rebeccapurple 40%, rgb(244, 105, 179) 90%);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    display: block;
    margin-right: 10%;
    margin-left: 10%;
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Removes extra space caused by inline display */
    margin-left: auto;  /* Centers the image */
}