.project-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.project-card {
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.project-card h3 {
    margin: 10px 0 5px 0;
}

.project-card p {
    margin: 0;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.project-photo {
    max-width: 200px;
    margin-right: 2em;
}

.project-info {
    max-width: 600px;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.project-tag {
    display: inline-block;
    background: #f39c12;
    color: #fff;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 0.9em;
}

.project-description {
    font-size: 1em;
    color: #333;
}